In [1]:
from ml_from_scratch.neighbors import KNeighborsClassifier
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
data = pd.read_csv('iris.csv')

In [3]:
data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [4]:
X = data.drop('variety', axis = 1)

In [5]:
y = data['variety']

In [6]:
y.head()

0    Setosa
1    Setosa
2    Setosa
3    Setosa
4    Setosa
Name: variety, dtype: object

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [8]:
X_train

     sepal.length  sepal.width  petal.length  petal.width
143           6.8          3.2           5.9          2.3
22            4.6          3.6           1.0          0.2
97            6.2          2.9           4.3          1.3
108           6.7          2.5           5.8          1.8
25            5.0          3.0           1.6          0.2
..            ...          ...           ...          ...
83            6.0          2.7           5.1          1.6
126           6.2          2.8           4.8          1.8
15            5.7          4.4           1.5          0.4
5             5.4          3.9           1.7          0.4
48            5.3          3.7           1.5          0.2

[120 rows x 4 columns]

In [9]:
ss = StandardScaler().fit(X_train)
X_train, X_test = ss.transform(X_train), ss.transform(X_test)

In [10]:
knn = KNeighborsClassifier()

In [11]:
knn.fit(X_train, y_train)

In [12]:
neighbors = knn.predict(X_test)

[['Versicolor', 'Versicolor', 'Versicolor', 'Versicolor', 'Versicolor'], ['Setosa', 'Setosa', 'Setosa', 'Setosa', 'Setosa'], ['Setosa', 'Setosa', 'Setosa', 'Setosa', 'Setosa'], ['Setosa', 'Setosa', 'Setosa', 'Setosa', 'Setosa'], ['Virginica', 'Virginica', 'Virginica', 'Virginica', 'Virginica'], ['Setosa', 'Setosa', 'Setosa', 'Setosa', 'Setosa'], ['Versicolor', 'Versicolor', 'Versicolor', 'Versicolor', 'Versicolor'], ['Virginica', 'Virginica', 'Virginica', 'Virginica', 'Virginica'], ['Setosa', 'Setosa', 'Setosa', 'Setosa', 'Setosa'], ['Setosa', 'Setosa', 'Setosa', 'Setosa', 'Setosa'], ['Versicolor', 'Versicolor', 'Versicolor', 'Versicolor', 'Versicolor'], ['Setosa', 'Setosa', 'Setosa', 'Setosa', 'Setosa'], ['Setosa', 'Setosa', 'Setosa', 'Setosa', 'Setosa'], ['Setosa', 'Setosa', 'Setosa', 'Setosa', 'Setosa'], ['Virginica', 'Virginica', 'Virginica', 'Versicolor', 'Virginica'], ['Virginica', 'Virginica', 'Virginica', 'Virginica', 'Virginica'], ['Virginica', 'Virginica', 'Virginica', 'Versicolor', 'Virginica'], ['Virginica', 'Virginica', 'Virginica', 'Virginica', 'Virginica'], ['Setosa', 'Setosa', 'Setosa', 'Setosa', 'Setosa'], ['Versicolor', 'Versicolor', 'Versicolor', 'Versicolor', 'Versicolor'], ['Setosa', 'Setosa', 'Setosa', 'Setosa', 'Setosa'], ['Virginica', 'Virginica', 'Virginica', 'Virginica', 'Virginica'], ['Versicolor', 'Versicolor', 'Versicolor', 'Versicolor', 'Versicolor'], ['Setosa', 'Setosa', 'Setosa', 'Setosa', 'Setosa'], ['Versicolor', 'Virginica', 'Versicolor', 'Versicolor', 'Versicolor'], ['Virginica', 'Virginica', 'Virginica', 'Virginica', 'Virginica'], ['Versicolor', 'Versicolor', 'Versicolor', 'Versicolor', 'Versicolor'], ['Virginica', 'Versicolor', 'Virginica', 'Versicolor', 'Virginica'], ['Setosa', 'Setosa', 'Setosa', 'Setosa', 'Setosa'], ['Virginica', 'Versicolor', 'Versicolor', 'Virginica', 'Virginica']]